/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.flash-error {
  color: red;
}

.upload-section {
  width: 30rem;
}
.file-label {
  color: white;
}

.file-input {
  display: none;
}